* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body {
    position: relative;
}

i {
    font-size: 100px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
}